<?xml version="1.0" encoding="utf-8" ?>  
  
<head>  
  <title>Test Report</title>  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
  <meta name="description" content="TestNG unit test results." />  
  <style type="text/css">
<!--
.STYLE1 {font-weight: bold}
.STYLE2 {color: #FF0000}
-->
  </style>
</head>  
<body>
<span class="STYLE1"></span>  
  
<h1 align="center">Test Report</h1>
<table width=100% border=1 align="center" bordercolor="#F0F0F0">   
  <tr>  
    <th>All</th>  
    <th>Exclude</th>  
    <th>Pass</th>  
    <th>File</th>  
    <th>skipped</th>  
    <th>duration(S)</th>  
    <th >passPercent</th>  
  </tr>  
    
  <tr>       
    <td><div align="center">$overView.allTestsSize</div></td>   
    <td><div align="center">$overView.excludeTestsSize</div></td>   
    <td><div align="center">$overView.passedTestsSize</div></td>   
    <td><div align="center"><span class="STYLE2">$overView.failedTestsSize</span></div></td>   
    <td><div align="center">$overView.skippedTestsSize</div></td>   
    <td><div align="center">$overView.testsTime</div></td>      
    <td><div align="center">$overView.passPercent</div></td>           
</tr>    
</table>
  
<table  align="center" border=1 width=100%>  
  <tr>  
    <th>passTest</th>  
    <th>testName</th>  
    <th>className</th>  
    <th>duration</th>  
    <th>params</th>  
    <th>description</th>   
  </tr>  
  #foreach( $p in $pass)  
      <tr bgcolor="#00FF00">     
      <td><div align="center">$velocityCount</div></td>  
      <td><div align="center">$p.testName</div></td>    
      <td><div align="center">$p.className</div></td>   
      <td><div align="center">$p.duration</div></td>   
      <td><div align="center">$!p.params</div></td>   
      <td><div align="center">$!p.description</div></td>     
  #end</tr>   
  <tr >   
    <th>failTest</th>  
    <th>testName</th>  
    <th>className</th>  
    <th>duration</th>  
    <th>params</th>  
    <th>description</th>    
  </tr>  
    
  #foreach( $p in $fail)  
  <tr bgcolor="#FF0000">     
  <td><div align="center">$velocityCount</div></td>  
  <td><div align="center">$p.testName</div></td>    
  <td><div align="center">$p.className</div></td>   
  <td><div align="center">$p.duration</div></td>   
  <td><div align="center">$!p.params</div></td>   
  <td><div align="center">$!p.description</div></td>     
  #end  
</tr>   
   
  
</table>  
  
<br/><br/>  
  
  
  
</body>  
</html>  