<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >  
    
<suite name="Suite1" verbose="1" >  
  <test name="Regression1">  
    <classes>  
      <class name="api.testcase.TestHappycoin">  
      <methods>  
        <include name="testHappycoin" />  
      </methods>  
      </class>
      <class name="api.testcase.TestLogic">  
       <methods>  
        <include name="testLogic" />  
        <include name="testLogicWrongWithPassWord" />   
        <include name="testLogicWrongWithMobile" />    
      </methods>
       </class>
    </classes>  
  </test>  
</suite>  